@import url('../../css/fonts.css');

.flow{
    overflow-y: auto;
    height: 100%;
    padding:5%;
    font-size: 2em;
    font-family: "Lolita";
}

.flow img{
    position: relative;
    display: block;
    top: 0;
    left: 45%;
    transform: translateX(-45%,0);
    border-radius: 100%;
}