@import url(./fonts.css);

.background{
    position: static;
    margin: 0 auto;
    background-image: url("index_background_0.png"),url("index_background_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%,cover;
    background-attachment: fixed;
    z-index: -1;
}
.index-button{
    font-family: "Lolita";
    font-size: 2em;
    font-weight: 900;
    color: black;
    text-align: center;
    padding: 2vh 0;
    position: relative;
    width: 80vw;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,rgba(0,0,0,0),white,rgba(0,0,0,0));
    transition: 0.5s;
    user-select: none;
}
.index-button:hover{
    background-size: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,rgba(0,0,0,0),black,rgba(0,0,0,0));
}
.logo{
    text-align: center;
    margin: 3vh auto;
    user-select: none;
}
.bigContainer{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    display: block;
    width: 80%;
    height: 80%;
    overflow: hidden;
    user-select: none;
}
.optionsContainer{
    position: relative;
    display: block;
    top:0;
    left:50%;
    transform: translate(-50%,0);
    margin-top: 5px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    width: 80%;
    height: 8%;
    padding-left: 5px;
    user-select: none;
}
.options{
    position: relative;
    display: inline-block;
    top:50%;
    left:0;
    transform: translate(0,-50%);
    font-family: "Lolita";
    font-size: 1.5em;
    text-align: center;
    width: 60%;
    height: 80%;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 10px;
    user-select: none;
}
.optionsText{
    position: relative;
    display: inline-block;
    top:50%;
    left:0;
    transform: translate(0,-50%);
    font-family: "Lolita";
    font-size: 1.5em;
    text-align: left;
    height: 80%;
    user-select: none;
}
.aboutButton{
    position: relative;
    display: inline-block;
    top:0;
    left:0;
    font-family: "Lolita";
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    height: 25%;
    border-radius: 10%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,rgb(218, 149, 231),rgba(0,0,0,0));
    background-position: left;
    background-size: 5%;
    user-select: none;
    transition: 0.5s;
}
.aboutButton:hover{
    background-size: 100%;
}
.aboutButton div{
    position: relative;
    display: inline-block;
    top:50%;
    left:0;
    transform: translate(0,-50%);
    font-family: "Lolita";
    font-size: 1.5em;
    text-align: left;
    vertical-align: middle;
    overflow-y: auto;
}
.aboutButton img{
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}
.flow{
    overflow-y: auto;
    height: 100%;
}